@charset "utf-8";
body {
	color:#F2F2F2;
	height:100%;
	width:100%;
	margin:0px;
	background-image:url(../images/background_image_compressed.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow:hidden;
}

a {
	text-decoration:none;
	color:rgba(255,128,43,0.80);
}

a:hover {
	color:rgba(255,128,43,1.00);
}

a:active {
	color:rgba(242,242,242,0.80);
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.50);
}	

::-webkit-scrollbar-thumb {
	background: rgba(242,242,242,0.60);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(242,242,242,0.80);
}

#header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50px;
	background-color: rgba(0,0,0,0.80);
	color:#F2F2F2;
}


#content {
	position:absolute;
	top:50px;
	left:0;
	width:100%;
	bottom:0px;
	height:auto;
	overflow-x:hidden;
	overflow-y:auto;
}

.content_header {
	margin-top:0px;
	margin-left:0px;
	width:98%;
	padding-left:1%;
	padding-right:1%;
	padding-top:0px;
	height:30px;
	background-color: rgba(0,0,0,0.80);
}	

.content_header_back_arrows {
	margin-left:2px;
	font-size:24px;
	font-weight:bold;	
}

.content_header_text {
	margin-top:1px;
	margin-left:5px;
	font-size:18px;
	font-weight:bold;
}

#header_company_name {
	display:inline-block;
	float:left;
	font-size:30px;
	font-weight:bold;
	margin-left:5px;
	margin-top:10px;
	color:#F2F2F2;
}

#header_app_logo {
	display:inline-block;
	float:left;
	margin-left:3px;
	width:50px;
	height:50px;
	background-image: url(../images/app_logo.png);
	background-size: cover;
	background-repeat: no-repeat;
}


