<! doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main_layout.css') }}" type="text/css">	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/albums.css') }}" type="text/css">	
	<title>Jive Music Finder</title>
</head>

<body>
	<div id="header">
		<div id="header_app_logo"></div>
		<div id="header_company_name">JIVE</div>
	</div>
	<div style="clear:both"></div>
	<div id="content">
		<div class="content_header">
			<table width="100%" height="100%" cellpadding="0" cellspacing="0">
				<tr><td width="10px" valign="middle" align="left">
					<a href="/">
						<span class="content_header_back_arrows">&lt;&lt;&lt;</span>
					</a>
				</td><td width="100%" valign="middle" align="left">
					<span class="content_header_text">| Artists</span>
				</td></tr>
			</table>
		</div>

		<div id="thumbnail_list_container">
			{% for artist in artists %}				
				<div class="album_thumbnail_container">
					<a href="/albums/?artist={{artist["artist_id"]}}">
					<div id="album_thumbnail_{{artist["artist_id"]}}" class="album_thumbnail_btn">
						<div class="album_thumbnail_img">
							<img src="{{ url_for('static', filename='images/'+artist["image"]) }}" width="100%" alt=""/>
						</div>
					</div>
					</a>
				</div>
			{% endfor %}

		</div>
	</div>

</body>

</html>
