<! doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main_layout.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
	<title>Jive Music Finder</title>
</head>

<body>
	<div id="header">
		<div id="header_app_logo"></div>
		<div id="header_company_name">JIVE</div>
	</div>
	<div style="clear:both"></div>
	<div id="content">
		<div id="artist_scroller" class="horizontal_icon_scroller">
			<div id="artist_scroller_header" class="scroller_header">
				<div class="scroller_header_text">
					Artists : ({{ artistlen }})
				</div>
			</div>
			<div class="icon_list_container">	
				<div class="icon_scroller">
					<div id="artist_list" class="icon_list">
						{% for artist in artists %}
						<div class="icon_container">						
							<a href="/albums/?artist={{artist["artist_id"]}}&artname={{artist["artist_name"]}}">
								<div id"artist_thumbnail_{{artist["artist_id"]}}" class="icon_thumbnail_btn">
									<div class="icon_thumbnail_img">
										<img src="{{ url_for('static', filename='images/'+artist["image"]) }}" height="100%" alt=""/>
									</div>
								</div>
							</a>						
						</div>
						{% endfor %}
					</div>	
				</div>
			</div>
		</div>
		<div id="album_scroller" class="horizontal_icon_scroller">
			<div id="album_scroller_header" class="scroller_header">
				<div class="scroller_header_text">
					Albums : ({{ albumlen }})
				</div>
			</div>
			<div class="icon_list_container">			
				<div class="icon_scroller">
					<div id="album_list" class="icon_list">
						{% for album in albums %}
						<div class="icon_container">
							<a href="tracks/?album={{album["album_id"]}}">
								<div id="album_thumbnail_{{album["album_id"]}}" class="icon_thumbnail_btn">
									<div class="icon_thumbnail_img">
										<img src="{{ url_for('static', filename='images/'+album["image"]) }}" height="100%" alt=""/>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div id="tracks_scroller" class="vertical_track_scroller">
			<div id="track_scroller_header" class="scroller_header">
				<div class="scroller_header_text">
					Tracks : ({{ tracklen }})
				</div>
			</div>
			<div class="track_list_container">
				<div class="track_scroller">
					<div id="track_list" class="track_list">
						{% for track in tracks %}
							{% for each_track in track["tracks"] %}
							<div class="track_list_item">
								<table width="100%" cellpadding="0%" cellspacing="0%" align="center">
									<tr height="35px">
							 			<td width="auto" align="left" valign="middle">
											<a href='/tracks/?album={{track["album_id"]}}&playtrack={{each_track["track_no"]}}'>{{ each_track["name"] }}</a></td>
										<td width="auto" align="right" valign="middle">{{ each_track["length"] }}</td>
									</tr>
								</table>
							</div>
							{% endfor %}
						{% endfor %} 
					</div>
				</div>
			</div>
		
		</div>
	</div>

</body>

</html>
